/* Seção geral */
.skills {
  padding: 4rem 1.5rem;
  max-width: 1100px;
  margin: 0 auto;
}

/* Título */
.skills h1 {
  font-size: clamp(2rem, 4vw, 2.6rem);
  margin-bottom: 3rem;
  text-align: center;
  color: #fffdfd;
}

/* Container das skills */
.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1.5rem;
}
