/* Container do header */
.header {
  padding: 1rem;
  background: #111;
}

/* Personalização da navegação */
.header nav {
  display: flex;
  gap: 1rem;
}

/* Links Personalizados */
.header a {
  color: white;
  text-decoration: none;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .header nav {
    flex-direction: column;
  }
}